# 忽略所有文件和目录
*

# 增加指定扩展名文件和Makefile文件
!*.json
!*.c
!*.h
!Makefile
!*.md
!.gitignore
!/csapp/
!/csapp/**/
!/understanding/
!/understanding/**/
!/c-primer-plus/
!/c-primer-plus/**/
!/dsaac/
!/dsaac/**/
!/.vscode/
!/.vscode/**/